dify/assistants/request_normalizer/request_normalizer.yml
# ============================================================================
# Dify advanced-chat: request_normalizer
# Принимает произвольный текст пользователя → возвращает СТРОГИЙ JSON-интент,
# совместимый с app/services/assistant/schemas.py::NormalizedRequest.
# Backend вызывает этого ассистента при assistant.dify.enabled=true.
# ============================================================================
app:
  description: 'Нормализатор запросов умного календаря: текст → строгий JSON (intent + параметры).'
  icon: 🧭
  icon_background: '#EAF1FF'
  mode: advanced-chat
  name: Request Normalizer
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/openai_api_compatible:0.0.35@bb81bce2b7e04af8178eb2fb36cc6e1eb75aadbc98d31bc2c858b4648ba63c26
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload: {enabled: false}
    opening_statement: ''
    retriever_resource: {enabled: false}
    sensitive_word_avoidance: {enabled: false}
    speech_to_text: {enabled: false}
    suggested_questions: []
    suggested_questions_after_answer: {enabled: false}
    text_to_speech: {enabled: false, language: '', voice: ''}
  graph:
    edges:
    - data: {isInIteration: false, sourceType: start, targetType: llm}
      id: start-normalizer
      source: start_node
      sourceHandle: source
      target: normalizer_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data: {isInIteration: false, sourceType: llm, targetType: answer}
      id: normalizer-answer
      source: normalizer_llm
      sourceHandle: source
      target: answer_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 'Текст пользователя приходит в sys.query; user_tz — часовой пояс для нормализации дат.'
        selected: false
        title: Start
        type: start
        variables:
        - {label: user_tz, variable: user_tz, type: text-input, required: false,
           max_length: 48, default: 'Europe/Moscow', hint: 'Часовой пояс пользователя.',
           options: [], allowed_file_extensions: [], allowed_file_types: [],
           allowed_file_upload_methods: [], placeholder: ''}
      height: 116
      id: start_node
      position: {x: -360, y: 260}
      positionAbsolute: {x: -360, y: 260}
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context: {enabled: false, variable_selector: []}
        desc: 'Классификация интента и извлечение всех параметров в строгий JSON.'
        model:
          completion_params: {temperature: 0.1}
          mode: chat
          name: qwen3-32b-fp8-v2
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: sys-normalize
          role: system
          text: |
            Ты — нормализатор запросов русскоязычного ассистента-секретаря умного календаря.
            По сообщению пользователя определи ОДИН intent и извлеки параметры.
            Ответ — СТРОГО JSON по схеме, без markdown, без пояснений.

            Список intent:
            create_event, update_event, delete_event, show_calendar, find_free_slots, find_tickets,
            create_reminder, move_event, generate_meeting_protocol, create_events_from_protocol,
            summarize_schedule, unknown.

            Правила:
            - Даты/время нормализуй в ISO-8601 в часовом поясе {{#start_node.user_tz#}}
              (event.date = YYYY-MM-DD, event.start_time/end_time = HH:MM).
            - format ∈ {online, offline, hybrid}; для «онлайн/zoom/ссылка» → online, «очно/офис/адрес» → offline.
            - Города для find_tickets клади в travel.origin_city / travel.destination_city (именительный падеж).
            - transport_type ∈ {flight, train, any}.
            - Участников (email или имена людей) собирай в event.participants. «встреча с <Имя>» → это
              участник, а НЕ название: имя клади в participants, title при этом оставляй пустым (тему
              спросит backend отдельным вопросом).
            - priority — целое 0..10; important/срочно → 8, критично → 10.
            - Заполняй только те поля, что реально названы; остальное оставляй пустым/null.
            - ВАЖНО про контекст диалога: сообщение может быть коротким ОТВЕТОМ на предыдущий вопрос
              ассистента (например «завтра на 10», «онлайн», «Тест»). В этом случае всё равно извлекай
              распознанные значения (дата, время, формат, город) в соответствующие поля event/travel,
              даже если явного глагола-команды нет и intent приходится оставить unknown. Не выдумывай
              данные, которых нет.
            - missing_fields — список недостающих обязательных полей для выбранного intent
              (create_event: title, date, start_time; find_tickets: origin_city,
              destination_city, departure_date; delete/update/move: target_event).
            - Если данных не хватает — заполни clarifying_question ОДНИМ конкретным вопросом по-русски,
              в вежливом деловом тоне секретаря (например: «На какой день и время назначить встречу?»).
            - confidence — 0..1.
        - id: usr-normalize
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output_enabled: true
        structured_output:
          schema:
            type: object
            additionalProperties: false
            required: [intent, confidence, language, missing_fields, clarifying_question, event, travel, protocol, target_event]
            properties:
              intent:
                type: string
                enum: [create_event, update_event, delete_event, show_calendar, find_free_slots,
                       find_tickets, create_reminder, move_event, generate_meeting_protocol,
                       create_events_from_protocol, summarize_schedule, unknown]
              confidence: {type: number, minimum: 0, maximum: 1}
              language: {type: string, description: 'ru | en'}
              missing_fields: {type: array, items: {type: string}}
              clarifying_question: {type: string}
              event:
                type: object
                additionalProperties: false
                properties:
                  title: {type: string}
                  description: {type: string}
                  date: {type: string, description: 'YYYY-MM-DD'}
                  start_time: {type: string, description: 'HH:MM'}
                  end_time: {type: string, description: 'HH:MM'}
                  duration_minutes: {type: integer}
                  timezone: {type: string}
                  format: {type: string, enum: [online, offline, hybrid, '']}
                  importance: {type: string}
                  priority: {type: integer, minimum: 0, maximum: 10}
                  city: {type: string}
                  address: {type: string}
                  meeting_url: {type: string}
                  participants: {type: array, items: {type: string}}
                  responsible_person: {type: string}
              travel:
                type: object
                additionalProperties: false
                properties:
                  origin_city: {type: string}
                  destination_city: {type: string}
                  departure_date: {type: string, description: 'YYYY-MM-DD'}
                  return_date: {type: string, description: 'YYYY-MM-DD'}
                  transport_type: {type: string, enum: [flight, train, any]}
                  preferences: {type: array, items: {type: string}}
                  budget: {type: number}
              protocol:
                type: object
                additionalProperties: false
                properties:
                  target_event_id: {type: integer}
                  source_document_id: {type: integer}
              target_event:
                type: object
                additionalProperties: false
                properties:
                  event_id: {type: integer}
                  title: {type: string}
                  date_hint: {type: string}
        title: Нормализатор (LLM)
        type: llm
      height: 98
      id: normalizer_llm
      position: {x: 20, y: 260}
      positionAbsolute: {x: 20, y: 260}
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#normalizer_llm.structured_output#}}'
        desc: 'Возвращает JSON-интент backend-у (нормализатор).'
        selected: false
        title: Ответ (JSON)
        type: answer
        variables: []
      height: 106
      id: answer_node
      position: {x: 400, y: 260}
      positionAbsolute: {x: 400, y: 260}
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport: {x: 360, y: 120, zoom: 0.8}
