dify/assistants/protocol_assistant/protocol_assistant.yml
# ============================================================================
# Dify advanced-chat: protocol_assistant
# Принимает текст документа/стенограммы (sys.query) → возвращает протокол JSON,
# совместимый с app/services/assistant/schemas.py::ProtocolData.
# ============================================================================
app:
  description: 'Ассистент протоколов: из стенограммы встречи собирает решения, задачи, риски и follow-up встречи.'
  icon: 📝
  icon_background: '#EAF1FF'
  mode: advanced-chat
  name: Protocol Assistant
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/openai_api_compatible:0.0.35@bb81bce2b7e04af8178eb2fb36cc6e1eb75aadbc98d31bc2c858b4648ba63c26
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: [.pdf, .docx, .txt]
      allowed_file_types: [document]
      allowed_file_upload_methods: [remote_url, local_file]
      enabled: true
      number_limits: 3
    opening_statement: 'Пришлите текст или документ встречи — я соберу протокол: решения, задачи, ответственных, сроки, риски и follow-up встречи.'
    retriever_resource: {enabled: false}
    sensitive_word_avoidance: {enabled: false}
    speech_to_text: {enabled: false}
    suggested_questions: []
    suggested_questions_after_answer: {enabled: false}
    text_to_speech: {enabled: false, language: '', voice: ''}
  graph:
    edges:
    - data: {isInIteration: false, sourceType: start, targetType: llm}
      id: start-protocol
      source: start_node
      sourceHandle: source
      target: protocol_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data: {isInIteration: false, sourceType: llm, targetType: answer}
      id: protocol-answer
      source: protocol_llm
      sourceHandle: source
      target: answer_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 'Текст документа/стенограммы приходит в sys.query (или как файл сообщения).'
        selected: false
        title: Start
        type: start
        variables: []
      height: 90
      id: start_node
      position: {x: -360, y: 260}
      positionAbsolute: {x: -360, y: 260}
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context: {enabled: false, variable_selector: []}
        desc: 'Разбирает текст встречи в структурированный протокол.'
        model:
          completion_params: {temperature: 0.2}
          mode: chat
          name: qwen3-32b-fp8-v2
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: sys-protocol
          role: system
          text: |
            Ты — ассистент, который превращает стенограмму/заметки встречи в протокол.
            Верни СТРОГО JSON по схеме, без markdown.

            Выдели:
            - summary — краткое резюме (2–4 предложения);
            - participants — участники;
            - decisions — принятые решения;
            - action_items — задачи (что сделать);
            - responsibles — ответственные за задачи;
            - deadlines — сроки (текстом или датой);
            - risks — риски/проблемы/блокеры;
            - follow_up_meetings — встречи, которые нужно назначить (title, date_hint, participants, duration_minutes).

            Не выдумывай факты, которых нет в тексте. Если раздел пуст — верни пустой список.
        - id: usr-protocol
          role: user
          text: 'Текст встречи:\n{{#sys.query#}}'
        selected: false
        structured_output_enabled: true
        structured_output:
          schema:
            type: object
            additionalProperties: false
            required: [summary, participants, decisions, action_items, responsibles, deadlines, risks, follow_up_meetings]
            properties:
              summary: {type: string}
              participants: {type: array, items: {type: string}}
              decisions: {type: array, items: {type: string}}
              action_items: {type: array, items: {type: string}}
              responsibles: {type: array, items: {type: string}}
              deadlines: {type: array, items: {type: string}}
              risks: {type: array, items: {type: string}}
              follow_up_meetings:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  properties:
                    title: {type: string}
                    date_hint: {type: string}
                    participants: {type: array, items: {type: string}}
                    duration_minutes: {type: integer}
        title: Протокол (LLM)
        type: llm
      height: 98
      id: protocol_llm
      position: {x: 20, y: 260}
      positionAbsolute: {x: 20, y: 260}
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#protocol_llm.structured_output#}}'
        desc: 'JSON-протокол.'
        selected: false
        title: Ответ (протокол)
        type: answer
        variables: []
      height: 106
      id: answer_node
      position: {x: 400, y: 260}
      positionAbsolute: {x: 400, y: 260}
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport: {x: 360, y: 120, zoom: 0.8}
