dify/assistants/smart_calendar_secretary/smart_calendar_secretary.yml
# ============================================================================
# Dify advanced-chat: smart_calendar_secretary
# «Голос» ассистента-секретаря. Всю работу (нормализация, планирование, конфликты,
# билеты, протоколы) делает backend и передаёт готовые ФАКТЫ: интент, статус,
# детерминированный черновик ответа и сводку. Секретарь только перефразирует это
# в живой деловой ответ, НИЧЕГО не выдумывая. Возвращает JSON: {reply}.
# ============================================================================
app:
  description: 'Ассистент-секретарь умного календаря: озвучивает факты backend в живом деловом стиле.'
  icon: 🤝
  icon_background: '#EAF1FF'
  mode: advanced-chat
  name: Smart Calendar Secretary
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/openai_api_compatible:0.0.35@bb81bce2b7e04af8178eb2fb36cc6e1eb75aadbc98d31bc2c858b4648ba63c26
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: [.pdf, .docx, .txt]
      allowed_file_types: [document]
      allowed_file_upload_methods: [remote_url, local_file]
      enabled: true
      number_limits: 3
    opening_statement: 'Здравствуйте! Я ваш ассистент-секретарь. Могу запланировать встречу, найти свободное время, подобрать билеты или собрать протокол. Что нужно сделать?'
    retriever_resource: {enabled: false}
    sensitive_word_avoidance: {enabled: false}
    speech_to_text: {enabled: false}
    suggested_questions:
    - Запланируй встречу с командой завтра в 15:00 онлайн
    - Когда я свободен на этой неделе?
    - Найди билеты из Москвы в Казань на пятницу
    suggested_questions_after_answer: {enabled: false}
    text_to_speech: {enabled: false, language: '', voice: ''}
  graph:
    edges:
    - data: {isInIteration: false, sourceType: start, targetType: llm}
      id: start-secretary
      source: start_node
      sourceHandle: source
      target: secretary_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data: {isInIteration: false, sourceType: llm, targetType: answer}
      id: secretary-answer
      source: secretary_llm
      sourceHandle: source
      target: answer_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 'sys.query — реплика пользователя. Остальное — факты backend для озвучивания.'
        selected: false
        title: Start
        type: start
        variables:
        - {label: user_tz, variable: user_tz, type: text-input, required: false,
           max_length: 48, default: 'Europe/Moscow', hint: 'Часовой пояс.',
           options: [], allowed_file_extensions: [], allowed_file_types: [],
           allowed_file_upload_methods: [], placeholder: ''}
        - {label: backend_intent, variable: backend_intent, type: text-input, required: false,
           max_length: 64, default: 'unknown', hint: 'Интент, определённый backend.',
           options: [], allowed_file_extensions: [], allowed_file_types: [],
           allowed_file_upload_methods: [], placeholder: ''}
        - {label: backend_status, variable: backend_status, type: text-input, required: false,
           max_length: 64, default: 'info', hint: 'Статус: done | needs_clarification | needs_confirmation | conflict | info | error.',
           options: [], allowed_file_extensions: [], allowed_file_types: [],
           allowed_file_upload_methods: [], placeholder: ''}
        - {label: backend_reply, variable: backend_reply, type: paragraph, required: false,
           max_length: 2000, default: '', hint: 'Детерминированный черновик ответа (все факты уже здесь).',
           options: [], allowed_file_extensions: [], allowed_file_types: [],
           allowed_file_upload_methods: [], placeholder: ''}
        - {label: clarifying_question, variable: clarifying_question, type: text-input, required: false,
           max_length: 500, default: '', hint: 'Уточняющий вопрос, если данных не хватает.',
           options: [], allowed_file_extensions: [], allowed_file_types: [],
           allowed_file_upload_methods: [], placeholder: ''}
        - {label: backend_facts, variable: backend_facts, type: paragraph, required: false,
           max_length: 4000, default: '{}', hint: 'JSON со сводкой фактов backend (карточки, действия, предупреждения).',
           options: [], allowed_file_extensions: [], allowed_file_types: [],
           allowed_file_upload_methods: [], placeholder: ''}
      height: 116
      id: start_node
      position: {x: -360, y: 260}
      positionAbsolute: {x: -360, y: 260}
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context: {enabled: false, variable_selector: []}
        desc: 'Озвучивает факты backend в живой деловой ответ (без выдумывания).'
        model:
          completion_params: {temperature: 0.3}
          mode: chat
          name: qwen3-32b-fp8-v2
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: sys-secretary
          role: system
          text: |
            Ты — русскоязычный ассистент-секретарь умного календаря. Всю работу уже сделал backend:
            он определил интент, выполнил действие (или подготовил его к подтверждению) и передал
            тебе готовые ФАКТЫ. Твоя единственная задача — сформулировать живой, тёплый и деловой
            ответ пользователю на его языке, опираясь ТОЛЬКО на эти факты.

            Тебе передаются:
            - Сообщение пользователя: {{#sys.query#}}
            - Интент (backend): {{#start_node.backend_intent#}}
            - Статус (backend): {{#start_node.backend_status#}}
            - Черновик ответа с фактами: {{#start_node.backend_reply#}}
            - Уточняющий вопрос (если есть): {{#start_node.clarifying_question#}}
            - Сводка фактов (JSON: карточки, действия, предупреждения): {{#start_node.backend_facts#}}

            Строгие правила:
            - НЕ выдумывай и НЕ меняй факты: даты, время, имена, города, счётчики, названия встреч
              бери ровно из черновика/сводки. Никаких новых данных о календаре или занятости.
            - Перефразируй черновик естественно, как живой секретарь, а не как форма. Убирай сухость,
              но сохраняй все конкретные детали. Правильно склоняй имена по-русски
              (например «встреча с Марией Кузнецовой», а не «с Мария Кузнецова»).
            - Если статус needs_clarification — задай РОВНО ОДИН короткий уточняющий вопрос
              (используй clarifying_question как основу). Не здоровайся посреди диалога.
            - Если статус needs_confirmation или conflict — понятно опиши, что предлагается, и
              попроси подтвердить (кнопки покажет интерфейс, дублировать их текстом не нужно).
            - Если статус done — коротко подтверди результат. Если error — вежливо сообщи о проблеме.
            - Пиши кратко: 1–3 предложения. Без markdown-разметки, эмодзи по минимуму.

            Ответ — строго JSON: {"reply": "<текст ответа пользователю>"}.
        - id: usr-secretary
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output_enabled: true
        structured_output:
          schema:
            type: object
            additionalProperties: false
            required: [reply]
            properties:
              reply: {type: string, description: 'Готовый деловой ответ пользователю на его языке.'}
        title: Секретарь (LLM)
        type: llm
      height: 98
      id: secretary_llm
      position: {x: 20, y: 260}
      positionAbsolute: {x: 20, y: 260}
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#secretary_llm.structured_output#}}'
        desc: 'JSON с ответом и intent.'
        selected: false
        title: Ответ
        type: answer
        variables: []
      height: 106
      id: answer_node
      position: {x: 400, y: 260}
      positionAbsolute: {x: 400, y: 260}
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport: {x: 360, y: 120, zoom: 0.8}
