dify/assistants/smart_calendar_secretary/smart_calendar_secretary.yml
# ============================================================================
# Dify advanced-chat: smart_calendar_secretary
# Главный ассистент-секретарь. Нормализует запрос, решает, какой сервис нужен,
# и отвечает пользователю в дружелюбном деловом стиле. Возвращает JSON:
# {reply, intent, needs_service, short_summary}.
# ============================================================================
app:
  description: 'Ассистент-секретарь умного календаря: понимает запрос, выбирает сервис, отвечает по-деловому.'
  icon: 🤝
  icon_background: '#EAF1FF'
  mode: advanced-chat
  name: Smart Calendar Secretary
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/openai_api_compatible:0.0.35@bb81bce2b7e04af8178eb2fb36cc6e1eb75aadbc98d31bc2c858b4648ba63c26
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: [.pdf, .docx, .txt]
      allowed_file_types: [document]
      allowed_file_upload_methods: [remote_url, local_file]
      enabled: true
      number_limits: 3
    opening_statement: 'Здравствуйте! Я ваш ассистент-секретарь. Могу запланировать встречу, найти свободное время, подобрать билеты или собрать протокол. Что нужно сделать?'
    retriever_resource: {enabled: false}
    sensitive_word_avoidance: {enabled: false}
    speech_to_text: {enabled: false}
    suggested_questions:
    - Запланируй встречу с командой завтра в 15:00 онлайн
    - Когда я свободен на этой неделе?
    - Найди билеты из Москвы в Казань на пятницу
    suggested_questions_after_answer: {enabled: false}
    text_to_speech: {enabled: false, language: '', voice: ''}
  graph:
    edges:
    - data: {isInIteration: false, sourceType: start, targetType: llm}
      id: start-secretary
      source: start_node
      sourceHandle: source
      target: secretary_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data: {isInIteration: false, sourceType: llm, targetType: answer}
      id: secretary-answer
      source: secretary_llm
      sourceHandle: source
      target: answer_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 'Запрос пользователя (sys.query). user_tz — часовой пояс.'
        selected: false
        title: Start
        type: start
        variables:
        - {label: user_tz, variable: user_tz, type: text-input, required: false,
           max_length: 48, default: 'Europe/Moscow', hint: 'Часовой пояс.',
           options: [], allowed_file_extensions: [], allowed_file_types: [],
           allowed_file_upload_methods: [], placeholder: ''}
      height: 116
      id: start_node
      position: {x: -360, y: 260}
      positionAbsolute: {x: -360, y: 260}
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context: {enabled: false, variable_selector: []}
        desc: 'Определяет намерение и формирует деловой ответ.'
        model:
          completion_params: {temperature: 0.3}
          mode: chat
          name: qwen3-32b-fp8-v2
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: sys-secretary
          role: system
          text: |
            Ты — ассистент-секретарь умного календаря. Отвечай кратко, по-деловому, дружелюбно, на языке пользователя.
            Определи intent запроса и, если нужно, назови сервис, который должен отработать на backend.

            intent ∈ {create_event, update_event, delete_event, show_calendar, find_free_slots,
            find_tickets, create_reminder, move_event, generate_meeting_protocol,
            create_events_from_protocol, summarize_schedule, unknown}.

            needs_service — какой сервис вызвать: scheduling | availability | conflict_resolver |
            travel | protocol | reminder | none.

            Не выдумывай факты о календаре: реальные данные подставит backend. Твоя задача —
            понять запрос, коротко подтвердить намерение и задать уточняющий вопрос, если данных мало.
            Ответ — строго JSON по схеме.
        - id: usr-secretary
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output_enabled: true
        structured_output:
          schema:
            type: object
            additionalProperties: false
            required: [reply, intent, needs_service, short_summary]
            properties:
              reply: {type: string, description: 'Деловой ответ пользователю на его языке.'}
              intent:
                type: string
                enum: [create_event, update_event, delete_event, show_calendar, find_free_slots,
                       find_tickets, create_reminder, move_event, generate_meeting_protocol,
                       create_events_from_protocol, summarize_schedule, unknown]
              needs_service:
                type: string
                enum: [scheduling, availability, conflict_resolver, travel, protocol, reminder, none]
              short_summary: {type: string, description: 'Одной строкой — что понял ассистент.'}
        title: Секретарь (LLM)
        type: llm
      height: 98
      id: secretary_llm
      position: {x: 20, y: 260}
      positionAbsolute: {x: 20, y: 260}
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#secretary_llm.structured_output#}}'
        desc: 'JSON с ответом и intent.'
        selected: false
        title: Ответ
        type: answer
        variables: []
      height: 106
      id: answer_node
      position: {x: 400, y: 260}
      positionAbsolute: {x: 400, y: 260}
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport: {x: 360, y: 120, zoom: 0.8}
